@model ejercicio__crud.Models.inscripcion

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>inscripcion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Nro_inscripcion" />
            <div class="form-group">
                <label asp-for="codigo" class="control-label"></label>
                <input asp-for="codigo" class="form-control" />
                <span asp-validation-for="codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nro_id" class="control-label"></label>
                <input asp-for="Nro_id" class="form-control" />
                <span asp-validation-for="Nro_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="periodo" class="control-label"></label>
                <input asp-for="periodo" class="form-control" />
                <span asp-validation-for="periodo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
